@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth; 
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    cursor: pointer;
}

/*--global classes ends--*/


/*----------------------------------HEADER---------------------------------*/
.brand img{
	width: 300px;
}
#header {
	width: 100vw;
	height: auto;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30); /*imp*/
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
/* End Keyframes */


/*-------------------------------------------------------------------- End Header section */

/* Hero Section */
#hero {
	background-image: url(./images/bg.jpg);
	background-size: cover;
	background-position: top center;
}

#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h2 {
	display: block;
	width: fit-content;
	font-size: 3rem;
	position: relative;
	color: white;
	line-height: 2;
}
#hero span{
	font-size: 4rem;
	color: black;
}


/*--- End Hero Section */


/*-------------------------------------------main content------------------ */
#main{
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}


#main .main {
	flex-direction: column;
	max-width: 1200px; 
	margin: 0 auto;
	padding: 10px 10px;
}
#main .main-header h1 {
	margin-bottom: 50px;
}
#main .all-main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#main .main-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#main .main-info {
	padding: 30px;
	flex-basis: 60%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#main .main-info h1 {
	font-size: 4rem;
	font-weight: 500;
	margin-bottom: 16px;
}

#main .main-info p {
	color: white;
	font-size: 16px;
	text-align: justify;
}
#main .main-info .btn{
	
	background-color:  #cca524;
	margin-top: 30px;	 
}
#main .main-img {
	flex-basis: 40%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#main .main-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
#main .main-img img {
	transition: 0.5s ease transform;
}
#main .main-item:hover .main-img img {
	transform: scale(1.5);
}
/*------------------------- End main section-------------- */

/*-----------------Download apps------------------*/
#download{
	max-width: 1200px; 
	margin: 0 auto;
	padding: 10px 10px;
	width: 90%;
}
#download .download-apps ul{
	width: 100%;
	text-align: center;	
}
#download .download-apps li{
	display: inline-block;
	margin: 50px;
}
.download-apple{
	width: 180px;
	height: 75px;
	background: #000;
	float: left;
	
	color: #fff;
	cursor: pointer;
	border: 2px solid #fff;
	position: relative;
	border-radius: 20px;
}
.download .fa{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(-50%, -50%);
}
.p1, .p2{
	position: absolute;
}
.p1{
	top: 35px;
	font-size: 10px;
	left: 50px;

}
.p2{
	top: 50px;
	font-size: 15px;
	left: 47px;
}
.download-google-play{
	width: 180px;
	height: 75px;
	background: #000;
	float: left;
	
	color: #fff;
	cursor: pointer;
	border: 2px solid #fff;
	position: relative;
	border-radius: 20px;
}
.download .download-google-play i{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(-50%, -50%);
}

.download-google-play:hover {
	background-color: #cca524;
}
.download-apple:hover {
	background-color: #cca524;
}

/*--------------------------------contact--------------------*/


#contact{
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}


#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}


/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer .social-icon {
	margin-top: 20px;
	display: flex;
	margin-bottom: 30px;
	transition: all 0.5s;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
	transform: rotate(360deg)scale(1.3);

}
#footer p {
	color: white;
	font-size: 1.3rem;
}
#footer h1{
    color: cadetblue;
    font-size: 2rem;
}
/* --End Footer-- */

/*-------------------------------------------End styling index.html--------------------*/






/*--------------------------------------------style for vår app*-------------------*/

/* Hero Section */
#hero-ourapp {
	background-image: url(./images/menupic.jpg);
	background-size: cover;
	background-position: top center;
}
#hero-ourapp .hero-ourapp {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero-ourapp h2 {
	display: block;
	width: fit-content;
	font-size: 3rem;
	position: relative;
	color: white;
	line-height: 2;
}
#hero-ourapp span{
	font-size: 4rem;
	color: black;
}
#ourapp{
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
#ourapp .ourapp {
	flex-direction: column;
	max-width: 1200px; 
	margin: 0 auto;
	padding: 10px 10px;
}
#ourapp .ourapp-header h1 {
	margin-bottom: 50px;
}
#ourapp .all-ourapp {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#ourapp .ourapp-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#ourapp .ourapp-info {
	padding: 30px;
	flex-basis: 60%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#ourapp .ourapp-info h1 {
	font-size: 4rem;
	font-weight: 500;
	margin-bottom: 16px;
}
#ourapp .ourapp-info p {
	color: white;
	font-size: 16px;
	text-align: justify;
}
#ourapp .ourapp-img {
	flex-basis: 40%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#ourapp .ourapp-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
#ourapp .ourapp-img img {
	transition: 0.5s ease transform;
}
#ourapp .ourapp-item:hover .ourapp-img img {
	transform: scale(1.5);
}
#ourapp .ourapp-info h1{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}   
#ourapp .ourapp-info li{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
#ourapp .ourapp-info span{
    color: #d69b6a;
    font-weight: bold;
}
#ourapp .ourapp-info h2 {
	color: white;
	font-size: 40px;
	position: relative;	
}
#ourapp .ourapp-info h2::before {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: #f18e67;
	overflow: hidden;
	position: absolute;
	content: attr(data-text);
	border-right: 2px solid #37b9f1;	
	animation: animate 6s linear infinite;
}

@keyframes animate {
	0%,
	10%,
	100% {
		width: 0;
	}

	70%,
	90% {
		width: 100%;
	}
}
/*------------------------- End-ourapp-page-------------- */


/*---------------style-about-us-page----------*/
#hero-aboutus {
	background-image: url(./images/aboutbg.jpg);
	background-size: cover;
	background-position: top center;
}
#hero-aboutus .hero-aboutus {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero-aboutus h2 {
	display: block;
	width: fit-content;
	font-size: 5rem;
	position: relative;
	color: rgb(125, 193, 202);
	line-height: 2;
	font-weight: 700;
}
#hero-aboutus p{
	font-size: 2.4rem;
	color: rgb(77, 78, 145);
	font-weight: 600;
	line-height: 2;
	font-family: 'Montserrat', sans-serif;
}/*-about recycle container--*/
#about .about {
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 100%;
	height: 100%;
}
#about .col-right {
	width: 100%;
	background-color: grey;
	border-radius: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
	color: white;
	font-size: 16px;
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
#about .col-right span {
	color: crimson;
	font-weight: 400;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
}/*--about team and trio--*/
#team .team {
	background-color: rgb(216, 245, 250);
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 10px 0;
}
#team .team-top {
	max-width: 500px;
	margin: 0 auto;
}
#team .team-top p{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

#team .team-top h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #cca524
}
#team .team-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#team .team-item {
	flex-basis: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	border-radius: 20px;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#trio .trio {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#trio .all-trio {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#trio .trio-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 10px;
}
#trio .trio-info {
	padding: 30px;
	flex-basis: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
	border-radius: 20px;
}
#trio .trio-info li {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
}
#trio .trio-info p{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1;
}
#trio .trio-info span{
	color: #cca524;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.9;
}
/*---media query for aboutus-page----*/
@media only screen and (min-width: 768px) {
	
	h1.section-title {
		font-size: 6rem;
	}
	#hero-aboutus h1 {
		font-size: 7rem;
	}
	#team .team-bottom .team-item {
		flex-basis: 45%;
		margin: 2.5%;
	}	
	#trio .trio-item {
		flex-direction: row;
	}
	#trio .trio-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#trio .trio-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#trio .all-trio .project-trio {
		height: 100%;
	}
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	
	#team .team-bottom .team-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* -----------------------------------------------------------End-about us----------------*/



















media query for main (projects)


#main .main-item {
		flex-direction: row;
	}
	#main .main-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#main .main-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#main .all-main .main-info {
		height: 100%;
	}
	#main .all-main .main-img {
		height: 100%;
	}
	/* End Project */

















/* End Projects section */




/*-------------------------------------------end of om-oss--------------*/

/* Hero Section */
#hero-page {
	background-image: url(./images/bg.jpg);
	background-size: cover;
	background-position: center;
}

#hero-page .hero-page {
	height: 50vh;
    width: 100vh;
	margin: 0 auto;
	padding: 0 50px;
	align-items: center;
    display: flex;
}
#hero-page h2 {
	width: fit-content;
	font-size: 4rem;
	color: white;
	position: relative;
	}
#hero-page span{
	font-size: 3rem;
	color: white;
}

/*------------------end köpskydd-----------------*/







/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	
	h1.section-title {
		font-size: 6rem;
	}

	#hero h2 {
		font-size: 4rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#main .main-item {
		flex-direction: row;
	}
	#main .main-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#main .main-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#main .all-main .main-info {
		height: 100%;
	}
	#main .all-main .main-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		
	}
	
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 20px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	
	/* End contact  */
}
/* ----------End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger { 			/*remove it on desktop*/
		display: none;
	}
	#header .nav-list ul {			
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
    
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */

/*media query for ourapp--*/
#ourapp .ourapp-item {
		flex-direction: row;
	}
	#ourapp .ourapp-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#ourapp .ourapp-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#ourapp .all-ourapp .ourapp-info {
		height: 100%;
	}
	#ourapp .all-ourapp .ourapp-img {
		height: 100%;
	}

/*-------------------------------------------trials------------------------*/















